body{ margin:0;
       padding:0;}
main{ display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content:space-around;
      background-color:burlywood;
      
      }
 section{ display: flex;
    flex-wrap: wrap;
       flex-direction: column;
       justify-content: space-;
     margin-top:5px;
    }
 
div.flexbox{ display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
         align-items: center;
         flex-direction: column;
         ;
         overflow: hidden;
        }


    div.image{ border-radius:5px;
                 background-color: lightskyblue;}
            img{ border-radius: 5px;}
      h5{ text-align: center;
                  color: #fff  ;}